@import url(http://fonts.googleapis.com/css?family=Chango|Questrial);

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Questrial, sans-serif;
  font-size: 12pt;
  color: white;
  background-color: black;
  margin: 0;
  height: 98%;
  padding: 2%;
  overflow: hidden;
}

p {
  margin: 0.2em 0;
}

#flipbook {
  color: #000;
  width: 100%;
  height: 100%;
}

.turn-page {
  background-color: #FFF;
  background-size:  100% 100%;
}

.odd {
  background-image:-webkit-linear-gradient(left, #FFF 95%, #ddd 100%);
}

.even {
  background-image:-webkit-linear-gradient(right, #FFF 95%, #ddd 100%);
}

.page {
  z-index: 10;
}

img.background {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  z-index: 20;
}

.page .content {
  padding: 20px;
  position: absolute;
  z-index: 100;
}

.mag_title {
  font-family: Chango;
  color: orange;
  font-size: 2.5em;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.mag_subtitle {
  color: orange;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
}

.mag_volume {
  position: relative;
  color: orange;
  top: -8em;
  left: 22em;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.mag_heading {
  color: orange;
  text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;  
}

.event {
  padding: 1em;
  width: 100%:
  height: 100%;
}

.event_article {
  border-radius: 5px;
  padding: 0.1em;
  color: black;
  background-color: white;
  opacity: 0.8;
  text-align: justify;
  margin: 1em;
  float: left;  
  display: inline;
}

.event_description:first-letter {
  font-size: 2.8em;
  float: left;
  font-weight: bold;
  color: orange;
  background-color: black;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;    
}

.event_title {
  color: orange;
  font-size: 2em;
  text-shadow: 2px 2px 3px rgba(0,0,0,.5);
  background-color: black;
  width: 100%;
  margin: 0;  
}

.event_source, .event_time {
  color: white;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  background-color: black;
  padding:0.1em;
  position: relative;
  top: -0.1em;
  left: 0.3em;
}

.event_media_left {
  height: 100px;
  border: none;
  float: left;
  margin: 0, 0.5em, 0,5em, 0;
}

.event_media_right {
  height: 100px;
  border: none;
  float: right;
  margin: 0, 0, 0.5em, 0,5em;
}